<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <!-- Configuracion JDBC para el acceso a la BBDD -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/colegio</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- Pool de conexiones -->
        <property name="connection.pool_size">1</property>

        <!-- Dialecto SQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Log SQL -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="current_session_context_class">thread</property>
        
        <!-- ENTIDADES REGISTRADAS -->
        <mapping class="entities.AlumnoEntity"/>
        <mapping class="entities.MunicipiosEntity"/>
        <mapping class="entities.AsignaturasEntity"/> 

    </session-factory>
</hibernate-configuration>
